@import url("https://fonts.googleapis.com/css2?family-Poppins:wght@200;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.root{
  display: flex;
  flex-direction: column;
}
header{
  background-color:  #373b69;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav{
  padding-left: 1rem;
}
.search{
  background-color: transparent;
  border:2px solid  #2c2f5f;
  border-radius: 50px;
  color:white;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
}
h2{
  font-family: 'Carter One', cursive;
}

.search:focus{
  outline: 0;
}
.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0,0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 250px;
}

.movie img{
  object-fit: cover;
  height: 385px;
  width: 100%;
}

.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.movie-info h3{
  margin: 0%;
}

.movie-over{
  background-color: #fff;
  position: absolute;
  color: black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0,0, 0, 0.1);
  padding: 1rem;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: auto;
  max-width: 100%;
  transform: translateY(105%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over{
  transform: translateY(0%);
}

.tag{
  background-color: #22254b;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
}

.tag.green{
  color: rgb(0, 168, 0);
}

.tag.orange{
  color: orange;
}

.tag.red{
  color: red;
}